html {
  font: 100% sans-serif;
  }

body {
  color: #222;
  background: #ebebeb;
  margin: 0;
  }

html,
body {
  height: 100%;
  }

/* HTML5 elements / redefine display */

article,
aside,
main {
  display: block;
  }

/* links / general */

a {
  color: #f8971d;
  text-decoration: none;
  }

a:hover,
a:focus {
  text-decoration: underline;
  }

/* flexible images */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  }

/* flexible structure / centering mechanism */

.structure {
  width: 92%;
  max-width: 72em;
  margin: 0 auto;
  }

/* no wrap text / phrase groups */

.nowrap {
  font: inherit;
  color: inherit;
  white-space: nowrap;
  }

/* brand / Gymnasium logo */

#brand {
  background: #222;
  }

.logo {
  padding: 2.2em;
  }

.logo img {
  max-width: 13.125em;
  }

/* main / article */

main {
  display: block;
  background: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  overflow: hidden;
  }

main article {
  padding: 2.2em;
  box-sizing: border-box;
  }

@media (min-width: 60em) {

main article {
  float: left;
  width: 75%;
  }

}

/* typographic style / basic */

main h1,
main h2,
main h3 {
  letter-spacing: .04em;
  }

.main-header {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: -.2em;
  margin-bottom: 1.8em;
  }

.main-header h1,
.main-header h2 {
  font-weight: 900;
  font-size: 2.2em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

/* System Status style */

.status {
  list-style: none;
  margin-top: 1em;
}

.status li {
  font-weight: bold;
  /*font-size: 1.2em;*/
  margin-top: 1.5em;
}

.status li:first-child {
  margin-top: 0;
}

.status li.ok:before {
  display: list-item;
  float: left;
  position: relative;
  top: -.5em; /* tweak */
  content: "";
  list-style-image: url("/img/status-ok.png");
  margin-right: -3em; /* tweak */
}

.status li.issue:before {
  display: list-item;
  float: left;
  position: relative;
  top: -.5em; /* tweak */
  content: "";
  list-style-image: url("/img/status-issue.png");
  margin-right: -3em; /* tweak */
}


main p {
  font: normal 1em/1.5 "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  }

main p.call-out {
  font: normal 1.4em/1.5 brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  }

@media (min-width: 36em) {

  main p.call-out {
    font-size: 1.6em;
    line-height: 1.4;
    }

}

main p.small-print {
  line-height: 1.2;
  }


.gym-button {
  display: block;
  width: 100%;
  color: #fff;
  background: #f8971d;
  padding: 2em;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  }

.gym-button:hover,
.gym-button:focus {
  background: #666;
  }

.gym-button b {
  font: bold 2em/1 brandon-grotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .02em;
  vertical-align: baseline;
  }

@media (min-width: 32em) {

.gym-button {
  max-width: 30em;
  }

}

/* footer */

#contentinfo {
  background: #222;
  }

.copyright {
  color: #ccc;
  padding: 1.2em 2.2em;
  }
