.heroTextWrapper {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
}


h1,
h2,
h3,
h4 {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  }

.btn-primary {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 900;
}

.btn-success {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
}

h1  {
  font-weight: 900;
  font-size: 2.2em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

h2  {
  font-weight: 900;
  font-size: 1.7em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

h3  {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }
