/* --- links / general --- */

a {
  color: #f8971d;
  }

a:hover,
a:focus {
  color: #f8971d;
  text-decoration: underline;
  }

/* link / nav */

.nav-item a {
  font-weight: bold;
  }

#custom-header-navbar .nav-item a:hover:after,
#custom-header-navbar .nav-item a:focus:after,
#custom-header-navbar .nav-item a:active:after {
  background: #f8971d;
  }

/* featured job headings / slider */

h4.text-primary {
  font-weight: bold;
  color: #f8971d;
  }

.featuredEmployer-link:hover ~ h4.text-primary,
.featuredEmployer-link:focus ~ h4.text-primary,
.featuredEmployer-link:active ~ h4.text-primary {
  color: #f8971d;
  text-decoration: underline;
  }

.featuredEmployer-link:focus,
.featuredEmployer-link:active {
  outline: 0;
  }

.featuredEmployers .panel:focus:after,
.featuredEmployers .panel:active:after {
  background-color: #f8971d;
  }

/* primary button / general */

.btn-primary,
.btn-success {
  color: #fff;
  background: #f8971d;
  }

.btn-primary:hover,
.btn-primary:focus,
.btn-success:hover,
.btn-success:focus {
  color: #fff;
  text-decoration: none;
  background: #a6a6a6;
  }

.btn-primary:active,
.btn-primary:focus,
.btn-success:active,
.btn-success:focus {
  background: #939393 !important;
  }

/* --- hero banner --- */

.heroTextWrapper {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
}

/* --- featured jobs / highlight --- */

#homepage .is-featured::after {
  background: #f8971d;
  }

/* --- typography / general --- */

h1,
h2,
h3,
h4 {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  }

.btn-primary {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 900;
}

.btn-success {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
}

h1  {
  font-weight: 900;
  font-size: 2.2em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

h2  {
  font-weight: 900;
  font-size: 1.7em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

h3  {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }
