/* --- links / general --- */

a {
  color: #f8971d;
  }

a:hover,
a:focus {
  color: #f8971d;
  text-decoration: underline;
  }

/* --- main navigation --- */

.headerCustom-aux {
  background: #000;
  }

#custom-header-navbar ul {
  margin-top: .875em;
  }

.headerCustom-aux .dropdown-toggle {
  color: #f8971d;
  }

.headerCustom-aux .dropdown-toggle svg {
  color: #a6a6a6;
  }

.headerCustom-aux .dropdown-toggle:hover,
.headerCustom-aux .dropdown-toggle:focus,
.headerCustom-aux .dropdown-toggle:active {
  color: #f8971d;
  }

.headerCustom-aux .dropdown-toggle:hover svg,
.headerCustom-aux .dropdown-toggle:focus svg,
.headerCustom-aux .dropdown-toggle:active svg {
  fill: #fff;
  }

#custom-header-wrapper {
  background: #222;
  }

#custom-header-wrapper .nav-item a {
  font-weight: bold;
  color: #fff !important;
  }

.nav-item a:hover,
.nav-item a:focus,
.nav-item a:active {
  color: #fff !important;
  text-decoration: none;
  }

#custom-header-navbar .nav-item a:hover:after,
#custom-header-navbar .nav-item a:focus:after,
#custom-header-navbar .nav-item a:active:after {
  background: #f8971d;
  }

/* featured job headings / slider */

h4.text-primary {
  font-weight: bold;
  color: #f8971d;
  }

.featuredEmployer-link:hover ~ h4.text-primary,
.featuredEmployer-link:focus ~ h4.text-primary,
.featuredEmployer-link:active ~ h4.text-primary {
  color: #f8971d;
  text-decoration: underline;
  }

.featuredEmployer-link:focus,
.featuredEmployer-link:active {
  outline: 0;
  }

.featuredEmployers .panel:focus:after,
.featuredEmployers .panel:active:after {
  background-color: #f8971d;
  }

/* primary button / general */

.btn-primary,
.btn-success {
  color: #fff;
  background: #f8971d;
  }

.btn-primary:hover,
.btn-primary:focus,
.btn-success:hover,
.btn-success:focus {
  color: #fff;
  text-decoration: none;
  background: #a6a6a6;
  }

.btn-primary:active,
.btn-primary:focus,
.btn-success:active,
.btn-success:focus {
  background: #939393 !important;
  }

/* --- hero banner / home page --- */

.heroTextWrapper {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
}

#homepage .hero {
  height: auto;
  padding: 3% auto;
  }

#homepage .heroTextWrapper {
  padding: 2%;
  margin-bottom: 2.5%;
  }

.results-hero {
  background: #948a7f url("https://d6dyoorq84mou.cloudfront.net/uploads/widget/search_widget/image/5772/gym-hero-texture.png") center no-repeat;
  }

/* --- featured jobs / highlight --- */

.jobList .is-featured::after {
  background: #f8971d;
  }

.jobList .ribbon {
  font-size: .7em;
  font-weight: bold;
  text-transform: uppercase;
  background: #4cc1e0;
  }

.jobList .indeed-apply {
  color: #4cc1e0;
  }

/* --- typography / general --- */

h1,
h2,
h3,
h4 {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  }

.btn-primary {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 900;
}

.btn-success {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
}

h1  {
  font-weight: 900;
  font-size: 2.2em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

h2  {
  font-weight: 900;
  font-size: 1.7em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

h3  {
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

/* employer details */

.panel--employer h3 {
  margin-top: .2em;
  }

.panel--employer p + h3 {
  margin-top: 1.1em;
  }

/* --- figures / employer logos -- */

.employer-media {
  margin-bottom: 1.2em;
  }
